/src/project.db
.idea
.settings
.project
env*
public
apps_static
*.log
*.pot
*.pyc
sqlite3.db
db.*
logs/
smarty/
media/
src/*
.cache
.coverage
.uwsgi.pid
local_migrate_mysql_to_pg.sh
local_simplifee_skrypt.sql
local_migrate.load
